<div class="left-side-menu">

    <!-- LOGO -->
    <a href="dashboard.html" class="logo text-center logo-light">
                    <span class="logo-lg">
                        <img src="assets/images/logo.svg" alt="re:spondelligent" height="36">
                    </span>
        <span class="logo-sm">
                        <img src="assets/images/logo_sm.svg" alt="re:spondelligent" height="30">
                    </span>
    </a>

    <!-- LOGO -->
    <a href="dashboard.html" class="logo text-center logo-dark">
                    <span class="logo-lg">
                        <img src="assets/images/logo.svg" alt="re:spondelligent" height="36">
                    </span>
        <span class="logo-sm">
                        <img src="assets/images/logo_sm.svg" alt="re:spondelligent" height="30">
                    </span>
    </a>

    <div class="h-100" id="left-side-menu-container" data-simplebar>

        <!--- Sidemenu -->
        <ul class="metismenu side-nav">

            <li class="side-nav-item">
                <a href="to-do.html" class="side-nav-link">
                    <i class="uil-edit"> </i>
                    <span>To-Do</span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link" aria-expanded="false">
                    <i class="uil-arrow-growth"></i>
                    <span> Statistics </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level mm-collapse" aria-expanded="false">
                    <li>
                        <a href="statistics-reviews.html">Reviews</a>
                    </li>
                    <li>
                        <a href="statistics-responses.html">Responses</a>
                    </li>
                    <li>
                        <a href="statistics-rescore.html">Re:Score</a>
                    </li>
                </ul>
            </li>
            <!--
                                    <li class="side-nav-item">
                                        <a href="javascript: void(0);" class="side-nav-link">
                                            <i class="mdi mdi-speedometer"></i>
                                            <span>reScore</span>
                                        </a>
                                    </li>
            -->
            <li class="side-nav-item">
                <a href="reviews.html" class="side-nav-link" >
                    <i class="uil uil-comment-alt-lines"></i>
                    <span> Reviews </span>
                    <!--<span class="menu-arrow"></span>-->
                </a>
                <!--
                <ul class="side-nav-second-level mm-collapse" aria-expanded="false">
                    <li>
                        <a href="javascript: void(0);">
                            <span class="badge badge-secondary float-right">16192</span>
                            <span>Alle</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript: void(0);">
                            <span class="badge badge-secondary float-right">2516</span>
                            <span>Tripadvisor</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript: void(0);">
                            <span class="badge badge-secondary float-right">637</span>
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript: void(0);">
                            <span class="badge badge-secondary float-right">10035</span>
                            <span>Booking</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript: void(0);">
                            <span class="badge badge-secondary float-right">258</span>
                            <span>Hotels</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript: void(0);">
                            <span class="badge badge-secondary float-right">1730</span>
                            <span>Google</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript: void(0);">
                            <span class="badge badge-secondary float-right">476</span>
                            <span>Holidaycheck</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript: void(0);">
                            <span class="badge badge-secondary float-right">499</span>
                            <span>Expedia</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript: void(0);">
                            <span class="badge badge-secondary float-right">41</span>
                            <span>Airbnb</span>
                        </a>
                    </li>

                </ul>
                -->
            </li>

            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link" aria-expanded="false">
                    <i class="uil-chart-line"></i>
                    <span> Analytics </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level mm-collapse" aria-expanded="false">
                    <li>
                        <a href="analytics-content-analysis.html">Content Analysis</a>
                    </li>
                    <li>
                        <a href="analytics-trend-analysis.html">Trend Analysis</a>
                    </li>
                    <li>
                        <a href="analytics-word-cloud.html">Word Cloud</a>
                    </li>
                </ul>
            </li>

            <li class="side-nav-item">
                <a href="recommendations.html" class="side-nav-link">
                    <i class="uil-lightbulb-alt"> </i>
                    <span>Recommendations</span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link" aria-expanded="false">
                    <i class="mdi mdi-map-marker"></i>
                    <span>My Venue</span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level mm-collapse" aria-expanded="false">
                    <li>
                        <a href="myvenue-response-details.html">Response Details</a>
                    </li>
                    <li>
                        <a href="myvenue-opening-hours.html">Opening Hours</a>
                    </li>
                </ul>
            </li>

            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link" aria-expanded="false">
                    <i class="uil-graph-bar"></i>
                    <span>Benchmarking</span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level mm-collapse" aria-expanded="false">
                    <li>
                        <a href="benchmarking-internal.html">Internal</a>
                    </li>
                    <li>
                        <a href="benchmarking-external.html">External</a>
                    </li>
                </ul>
            </li>


            <!--
                                    <li class="side-nav-item">
                                        <a href="javascript: void(0);" class="side-nav-link" aria-expanded="false">
                                            <i class="mdi mdi-cog"></i>
                                            <span>Einstellungen</span>
                                            <span class="menu-arrow"></span>
                                        </a>
                                        <ul class="side-nav-second-level mm-collapse" aria-expanded="false">
                                            <li>
                                                <a href="javascript: void(0);">Benutzer</a>
                                            </li>
                                        </ul>
                                    </li>
            -->
            <!--
                                    <li class="side-nav-item">
                                        <a href="javascript: void(0);" class="side-nav-link">
                                            <i class="mdi mdi-view-dashboard"></i>
                                            <span>Admin</span>
                                            <span class="menu-arrow"></span>
                                        </a>
                                        <ul class="side-nav-second-level mm-collapse" aria-expanded="false">
                                            <li>
                                                <a href="javascript: void(0);">Benutzer</a>
                                            </li>
                                            <li>
                                                <a href="javascript: void(0);">Gruppen</a>
                                            </li>
                                            <li>
                                                <a href="javascript: void(0);">Eigenschaften</a>
                                            </li>
                                            <li>
                                                <a href="javascript: void(0);">Reviewanswer</a>
                                            </li>
                                            <li>
                                                <a href="javascript: void(0);">Review</a>
                                            </li>
                                            <li>
                                                <a href="javascript: void(0);">Plattform</a>
                                            </li>
                                            <li>
                                                <a href="javascript: void(0);">Classify</a>
                                            </li>
                                        </ul>
                                    </li>

            --->
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link" aria-expanded="false">
                    <i class="uil uil-share-alt"></i>
                    <span>Integration</span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level mm-collapse" aria-expanded="false">
                    <li>
                        <a href="integration-widget.html">Widget</a>
                    </li>
                    <li>
                        <a href="integration-marketplace.html">Marketplace</a>
                    </li>
                </ul>
            </li>

            <li class="side-nav-item">
                <a href="reporting.html" class="side-nav-link">
                    <i class="uil-clipboard-alt"></i>
                    <span>Reporting</span>
                </a>
            </li>

        </ul>
        <!--- End Sidemenu -->

        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->